

.aqua{
    width: 100%;
    height: 50px;
    background-color:lightseagreen;
}

.teal{
    width: 100%;
    height: 30px;
    background-color:darkcyan;
}

.imagen{
    width: 100%;
    height: 170px;
    background: rgb(176,174,238);
background: radial-gradient(circle, rgb(122, 121, 155) 0%, rgb(67, 98, 129) 100%);
}

.box{
    width: ;
    height: 200px;
    background-color:rgb(202, 202, 202);
    margin-right: 2%;
    
    
}

.títulos{
    margin-top: 5%;
   
   
}

.grises{
    justify-content: center;
    
    
}

.textos{
    justify-content: center;
   
    
}

.titles{
    justify-content: center;
}
.title{
    font-size: 1.5rem;
    justify-content: center;
    margin-top: 1%;
    margin-right: 19%;
}
.primero{
    margin-right: ;
}

.info{
    margin-top: 1%;
    margin-right: 2.5%;
}

.rectángulo{
    width: 72%;
    height: 70px;
    background-color: rgb(202, 202, 202);
    margin-top: 5%;
}

.azul{
    width: 100%;
    height: 140px;
    background-color: rgb(13, 30, 46);
    margin-top: 4%;
}

.oscuro{
    width:100%;
    height: 50px;
    background-color: rgb(8, 17, 26);
}